<form method="post" action="/wallet/create">
    <div class="form-group">
        <label for="wallet-id">Wallet name</label>
        <input type="text" class="form-control" id="wallet-name" name="name" placeholder="Main wallet">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>