<form method="post" action="/wallet/create">
    <div class="form-group">
        <label for="coin-id">Coin ID</label>
        <input type="text" class="form-control" id="coin-id" name="id" placeholder="BTC">
        <label for="coin-name">Coin name</label>
        <input type="text" class="form-control" id="coin-name" name="name" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>