<form method="post" action="/coins/store">
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="test" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="test2" placeholder="Another input">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>