<form method="post" action="/coins/store">
    <div class="form-group">
        <label for="coin-name">Coin name</label>
        <input type="text" class="form-control" id="coin-name" name="name" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>