<form method="post" action="/coin/create">
    <div class="form-group">
        <label for="coin-short-name">Coin short name</label>
        <input type="text" class="form-control" id="coin-short-name" name="short_name" placeholder="BTC">
        <label for="coin-full-name">Coin full name</label>
        <input type="text" class="form-control" id="coin-full-name" name="full_name" placeholder="Bitcoin">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>