<%- contentFor('body') %>
<h2>Coins list</h2>
<a class="btn btn-info" href="/coin/create">Add</a>
  <ul>
    <% coins.forEach(function(coin) { %>
      <li>
        <strong>[<%= coin._id %>]</strong> <%= coin.name %>
      </li>
      <% }); %>
  </ul>