<%- contentFor('body') %>
<h2>Coins list</h2>
  <ul>
    <% coins.forEach(function(coin) { %>
      <li>
        <%= coin.name %> -
          <%= coin.created_at %>
      </li>
      <% }); %>
  </ul>